<h2 class="hname">Project Manager Page</h2>
<div class="container">
    
     
    <table>
        <tr>
            <td><button (click)="addRequestPage()" >Add Travel Request</button></td>
            <td><button (click) = "viewExistingRequest()">View Request</button></td>
    
         <td><button (click) = "viewTravelRequest()">View Employee Travel Request</button> </td>
    
        </tr>
        <tr >
          <td colspan="2"><input type="button" (click)="logout()" class="logout" value="Log Out"></td>
          <td></td>
        </tr>
      </table>
    
    
  </div>
